
html, body {
    height: 100%;
}

.main-container.pusher {
    height: 100%;
    margin: 0px;
    padding: 20px 0px;
    min-width: 320px;
    //background: #FFFFFF;
    overflow-y: auto;
}

#sidebar-button {
    margin-left: 20px;
}

.ui.sidebar {
    overflow: visible !important;
}

.ui.message.jumbotron {
    margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 50px;
    box-shadow: none;
    border-radius: 0;
    background: #EFEFEF;
}

h1, h2 {
    width: 100%;
}

.ui.message {
    width: 100%;
}