<div class="ui grid">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui huge message page grid jumbotron">
                <h1 class="ui huge header">
					<i class="ban icon"></i>
                  	404: Page Not Found
                </h1>
                <p>Sorry, the page you requested is unavailable or does not exist unfortunately...</p>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui page grid">
    <div class="row">
        <div class="column">
            <p>Please check you have entered the correct URL and try again.</p>
			<strong>Note, the following pages are unavailable or are yet to be implemented:</strong>
			<ul class="list">
				<li>View Records:</li>
				<ul>
					<li>Customers</li>
					<li>Treatments</li>
					<li>Examinations</li>
					<li>Appointments</li>
					<li>Invoices</li>
				</ul>
				<li>Extra Functionality:</li>
				<ul>
					<li>Clinic Supplies</li>
					<li>Pen Allocation</li>
				</ul>
				<li>Invoice Manager</li>
				<li>Appointment Manager</li>
				<li>Staff manager</li>
				<li>Account Settings</li>
				<li>Full Logout Functionality</li>
			</ul>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui divider"></div>
            <span>© Vet Management Systems - QUT</span>
        </div>
    </div>
</div>