<div class="ui grid">
    <div class="row">
        <div class="column padding-reset">
            <button id="sidebar-button" class="ui labeled icon button" ng-click="toggleSidebar()">
                <i class="toggle right icon"></i>
                Toggle Sidebar
            </button>
            <div class="ui huge message page grid jumbotron">
                <h1 class="ui huge header">Records: Clinics</h1>
                <p>View and edit clinic records.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    New Record
                </div>
                <!-- Clinic Form -->
                <div class="content">
                    <form class="ui form">
                        <!-- Address -->
                        <div class="fields">
                            <div class="two wide field">
                                <label>Street Number</label>
                                <input type="text" name="clinic[address-1]" placeholder="123">
                            </div>
                            <div class="eight wide field">
                                <label>Street Name</label>
                                <input type="text" name="clinic[address-2]" placeholder="Faker St">
                            </div>
                        </div>
                        <!-- Email + Phone -->
                        <div class="fields">
                            <div class="eight wide field">
                                <label>Email</label>
                                <input type="text" name="clinic[email]" placeholder="bob-support@lovelypets.com">
                            </div>
                            <div class="six wide field">
                                <label>Phone</label>
                                <input type="text" name="clinic[phone]" placeholder="0238 0980">
                            </div>
                        </div>
                        <!-- Opening Hours -->
                        <div class="fields">
                            <div class="three wide field">
                                <label>Open Time</label>
                                <input type="time" name="clinic[open-time]" placeholder="8:00am">
                            </div>
                            <div class="three wide field">
                                <label>Closing Time</label>
                                <input type="time" name="clinic[close-time]" placeholder="9:00pm">
                            </div>
                        </div>
                        <!-- Days Open -->
                        <div class="ten wide field">
                            <label>Days Open</label>
                            <select name="clinic[days]" multiple="" class="ui fluid dropdown">
                                <option value="">Days</option>
                                <option value="monday">Monday</option>
                                <option value="tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="thursday">Thursday</option>
                                <option value="friday">Friday</option>
                                <option value="saturday">Saturday</option>
                                <option value="sunday">sunday</option>
                            </select>
                        </div>
                        <!-- Social Media -->
                        <div class="six wide field">
                            <label>Social Media</label>
                            <select name="clinic[social-media]" multiple="" class="ui fluid dropdown">
                                <option value="">Media</option>
                                <option value="facebook">Facebook</option>
                                <option value="twitter">Twitter</option>
                                <option value="tumblr">Tumblr</option>
                                <option value="instagram">Instagram</option>
                                <option value="google-plus">Google Plus</option>
                            </select>
                        </div>
                        <div class="ui button" tabindex="0">Add Record</div>
                    </form>
                </div>
                <div class="title active">
                    <i class="dropdown icon"></i>
                    Current Records
                </div>
                <!-- Current Records -->
                <div class="content active">
                    <!-- Filters -->
                    <div class="ui small header">Filters</div>
                    <div class="ui teal labels">
                        <div class="ui label">
                            Address:
                            <div class="detail">Gardens Point</div>
                            <i class="delete icon" ng-click="removeFilter($event.currentTarget)"></i>
                        </div>
                        <div class="ui label">
                            Open at:
                            <div class="detail">6:00am</div>
                            <i class="delete icon" ng-click="removeFilter($event.currentTarget)"></i>
                        </div>
                        <div class="ui label">
                            Available on:
                            <div class="detail">Facebook</div>
                            <i class="delete icon" ng-click="removeFilter($event.currentTarget)"></i>
                        </div>
                    </div>
                    <!-- Results Table -->
                    <div class="ui small header">Results</div>
                    <table class="ui sortable celled table">
                        <thead>
                            <tr>
                                <th class="sorted descending">Clinic ID</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Opening Hours</th>
                                <th>Days Open</th>
                                <th>Social media</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>000001</td>
                                <td>Gardens Point</td>
                                <td>gpsupport@lovelypets.com</td>
                                <td>3689 4521</td>
                                <td>8:30am — 8:00pm</td>
                                <td>
                                    <div class="ui basic teal labels">
                                        <a class="ui label">Monday</a>
                                        <a class="ui label">Tuesday</a>
                                        <a class="ui label">Wednesday</a>
                                        <a class="ui label">Thursday</a>
                                        <a class="ui label">Friday</a>
                                        <a class="ui label">Saturday</a>
                                    </div>
                                </td>
                                <td>
                                    <i class="facebook square big link icon"></i>
                                    <i class="google square big link icon"></i>
                                    <i class="youtube square big link icon"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>000002</td>
                                <td>Kelvin Grove</td>
                                <td>kgsupport@lovelypets.com</td>
                                <td>3689 8193</td>
                                <td>9:00am — 6:00pm</td>
                                <td>
                                    <div class="ui basic teal labels">
                                        <a class="ui label">Monday</a>
                                        <a class="ui label">Tuesday</a>
                                        <a class="ui label">Wednesday</a>
                                        <a class="ui label">Thursday</a>
                                        <a class="ui label">Friday</a>
                                        <a class="ui label">Saturday</a>
                                        <a class="ui label">Sunday</a>
                                    </div>
                                </td>
                                <td>
                                    <i class="facebook square big link icon"></i>
                                    <i class="internet explorer square big link icon"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>000003</td>
                                <td>Caboolture</td>
                                <td>csupport@lovelypets.com</td>
                                <td>3689 9012</td>
                                <td>6:00am — 11:00pm</td>
                                <td>
                                    <div class="ui basic teal labels">
                                        <a class="ui label">Monday</a>
                                        <a class="ui label">Wednesday</a>
                                        <a class="ui label">Thursday</a>
                                        <a class="ui label">Friday</a>
                                        <a class="ui label">Saturday</a>
                                        <a class="ui label">Sunday</a>
                                    </div>
                                </td>
                                <td>
                                    <i class="facebook square big link icon"></i>
                                    <i class="google square big link icon"></i>
                                    <i class="youtube square big link icon"></i>
                                    <i class="tumblr square big link icon"></i>
                                    <i class="windows square big link icon"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- SQL Query -->
                    <div class="ui small header">SQL Query</div>
                    <div class="ui message">
                        <p>SELECT *<br>FROM lovelypets.clinics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui divider"></div>
            <span>© Vet Management Systems - QUT</span>
        </div>
    </div>
</div>