<div class="ui grid">
    <div class="row">
        <div class="column padding-reset">
            <button id="sidebar-button" class="ui labeled icon button" ng-click="toggleSidebar()">
                <i class="toggle right icon"></i>
                Toggle Sidebar
            </button>
            <div class="ui huge message page grid jumbotron">
                <h1 class="ui huge header">Home</h1>
                <p>Welcome back! Use this page to manage recent announcements and view upcoming events.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui page grid">
    <div class="row">
        <h2>Account Details</h2>
        <ul class="list">
            <li><strong>Role: </strong>Developer</li>
            <li><strong>Clearance Level: </strong>5</li>
            <li><strong>Registered Clinic: </strong>Gardens Point</li>
            <li><strong>Address: </strong>123 Fake St, Chelmer</li>
            <li><strong>Email: </strong>dev@lovelypets.com</li>
            <li><strong>Home Phone: </strong>3368 2341</li>
            <li><strong>Mobile Phone: </strong>04 2334 0987</li>
        </ul>
    </div>
    <div class="row">
        <div class="ui icon info message">
            <i class="close icon" ng-click="closeMessage($event.currentTarget)"></i>
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">Announcements</div>
                <p>There are no announcements to be displayed.</p>
            </div>
        </div>
        <div class="ui icon warning message">
            <i class="close icon" ng-click="closeMessage($event.currentTarget)"></i>
            <i class="calendar icon"></i>
            <div class="content">
                <div class="header">Appointments</div>
                <p>You have no upcoming appointments.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui divider"></div>
            <span>© Vet Management Systems - QUT</span>
        </div>
    </div>
</div>