
<!--Login CSS-->
<style type="text/css">
    body {
        background-color: #DADADA;
    }

    .column {
        max-width: 450px;
    }
</style>

<div id="login-grid" class="ui middle aligned center aligned grid">
    <div class="column container">
        <h2 class="ui teal header">
            Log-in to your account
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address" ng-model="user.email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" ng-model="user.password">
                    </div>
                </div>
                <div class="ui fluid large teal button" ng-click="login()">Login</div>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            New to us? <a href="#">Sign Up</a>
        </div>
    </div>
</div>