<div class="ui grid">
    <div class="row">
        <div class="column padding-reset">
            <button id="sidebar-button" class="ui labeled icon button" ng-click="toggleSidebar()">
                <i class="toggle right icon"></i>
                Toggle Sidebar
            </button>
            <div class="ui huge message page grid jumbotron">
                <h1 class="ui huge header">Records: Staff</h1>
                <p>View and edit staff records.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    New Record
                </div>
                <!-- staff Form -->
                <div class="content">
                    <form class="ui form">

                        <!--<th class="sorted descending">Staff ID</th>
                        <th>Role</th>
                        <th>Clearance</th>-->

                        <!-- Name -->
                        <div class="fields">
                            <div class="six wide field">
                                <label>First Name</label>
                                <input type="text" name="staff[first-name]" placeholder="Bob">
                            </div>
                            <div class="six wide field">
                                <label>Last Name</label>
                                <input type="text" name="staff[last-name]" placeholder="Quincy">
                            </div>
                        </div>
                        <!-- Address -->
                        <div class="fields">
                            <div class="two wide field">
                                <label>Street Number</label>
                                <input type="text" name="staff[address-1]" placeholder="123">
                            </div>
                            <div class="eight wide field">
                                <label>Street Name</label>
                                <input type="text" name="staff[address-2]" placeholder="Faker St">
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="fields">
                            <div class="six wide field">
                                <label>Home Phone</label>
                                <input type="text" name="staff[home-phone]" placeholder="3321 9897">
                            </div>
                            <div class="six wide field">
                                <label>Mobile Phone</label>
                                <input type="text" name="staff[mobile-phone]" placeholder="04 0238 0980">
                            </div>
                        </div>
                        <!-- Clinic -->
                        <div class="fields">
                            <div class="three wide field">
                                <label>Clinic ID</label>
                                <input type="text" name="staff[clinic-id]" placeholder="000002">
                            </div>
                            <div class="six wide field">
                                <label>Role</label>
                                <input type="text" name="staff[role]" placeholder="Kitten Physiotherapist">
                            </div>
                            <div class="two wide field">
                                <label>Clearance</label>
                                <input type="number" name="staff[clearance]" placeholder="2">
                            </div>
                        </div>
                        <div class="ui button" tabindex="0">Add Record</div>
                    </form>
                </div>
                <div class="title active">
                    <i class="dropdown icon"></i>
                    Current Records
                </div>
                <!-- Current Records -->
                <div class="content active">
                    <!-- Filters -->
                    <div class="ui small header">Filters</div>
                    <div class="ui teal labels">
                        <div class="ui label">
                            First Name:
                            <div class="detail">Tristan</div>
                            <i class="delete icon" ng-click="removeFilter($event.currentTarget)"></i>
                        </div>
                        <div class="ui label">
                            Role:
                            <div class="detail">Receptionist</div>
                            <i class="delete icon" ng-click="removeFilter($event.currentTarget)"></i>
                        </div>
                        <div class="ui label">
                            Clearance:
                            <div class="detail">4</div>
                            <i class="delete icon" ng-click="removeFilter($event.currentTarget)"></i>
                        </div>
                    </div>
                    <!-- Results Table -->
                    <div class="ui small header">Results</div>
                    <table class="ui sortable celled table">
                        <thead>
                            <tr>
                                <th class="sorted descending">Staff ID</th>
                                <th>Clinic ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Home Phone</th>
                                <th>Mobile Phone</th>
                                <th>Role</th>
                                <th>Clearance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>124159</td>
                                <td>000001</td>
                                <td>Tristan Coleslaw</td>
                                <td>90 Pivot Dr</td>
                                <td>tristanc@lovelypets.com</td>
                                <td>3689 4521</td>
                                <td>04 9092 2318</td>
                                <td>Janitor</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>482713</td>
                                <td>000002</td>
                                <td>Bob Hoowitz</td>
                                <td>22 Turtle Way</td>
                                <td>bobh@lovelypets.com</td>
                                <td>3422 9073</td>
                                <td>04 8238 1221</td>
                                <td>Veterinarian</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>814021</td>
                                <td>000001</td>
                                <td>Chelsea Dagger</td>
                                <td>90 Pivot Dr</td>
                                <td>thefratellis@lovelypets.com</td>
                                <td>2345 6543</td>
                                <td>04 9092 6371</td>
                                <td>Receptionist</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>091384</td>
                                <td>000003</td>
                                <td>David Watts</td>
                                <td>79 Rock St</td>
                                <td>etonrifles@lovelypets.com</td>
                                <td>3412 0902</td>
                                <td>04 1543 9172</td>
                                <td>Manager</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>917941</td>
                                <td>000002</td>
                                <td>Tracy Jacks</td>
                                <td>95 Whortle Pa</td>
                                <td>blurry@lovelypets.com</td>
                                <td>9821 7632</td>
                                <td>04 1122 3344</td>
                                <td>Nurse</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>819747</td>
                                <td>000002</td>
                                <td>Steve Bob</td>
                                <td>143 Platsyc Av</td>
                                <td>stuffsteve@lovelypets.com</td>
                                <td>9892 0234</td>
                                <td>04 9983 6712</td>
                                <td>Head of Clinic</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- SQL Query -->
                    <div class="ui small header">SQL Query</div>
                    <div class="ui message">
                        <p>SELECT *<br>FROM lovelypets.staff</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui divider"></div>
            <span>© Vet Management Systems - QUT</span>
        </div>
    </div>
</div>