<!DOCTYPE html>
<html class="no-js">
<head>

    <!-- Meta-Information -->
    <title>Lovely Pets Prototype.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Lovely Pets Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular + JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>

    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <!-- Less CSS -->
    <link rel="stylesheet/less" href="css/main.less" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

    <!-- Javascript -->
    <script src="js/main.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/sidebar.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/records.js"></script>

</head>
<body ng-app="testApp" ng-controller="BaseCtrl">

    <!-- Generate View + Sidebar -->
    <div ng-if="!isLogin()" ng-include="'templates/sidebar.html'"></div>
    <div ng-view class="main-container pusher"></div>

</body>
</html>