<div class="ui sidebar vertical left inverted menu" ng-controller="SidebarCtrl">
    <!-- Search Bar -->
    <div class="item">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>

    <!-- Home -->
    <a class="item" ng-click="changeUrl('/home')">
        <i class="home icon"></i>Home
    </a>

    <!-- View Records -->
    <div class="item">
        <i class="grid layout icon"></i>View Records
        <div class="menu" ng-repeat="x in links">
            <a ng-click="changeUrl(x.path)" class="item">{{x.name}}</a>
        </div>
    </div>

    <!-- Account Settings -->
    <a class="item" ng-click="changeUrl('/settings')">
        <i class="settings icon"></i>Account Settings
    </a>

    <!-- More Options -->
    <!--<div class="ui left pointing dropdown link item">
        <i class="dropdown icon"></i> More
        <div class="menu inverted">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
        </div>
    </div>-->

    <!-- Logout -->
    <a class="item" ng-click="logout()">
        <i class="sign out icon"></i>Logout
    </a>
</div>

<!-- Logout Modal -->
<div id="logout-modal" class="ui basic modal">
  <div class="ui icon header">
    <i class="sign out icon"></i>
    Logout
  </div>
  <div class="content">
    <p>Are you sure you want to logout?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>